.header_row {
	width: 100%;
	height: 10%;
	background-color: darkslategrey;
	color: white;
}
.body_row {
	width: 100%;
	height: 90%
}
.left_main_column {
	height: 100%;
	width: 75%;
}
.right_smaller_column {
	height: 100%;
	width: 25%;
	background-color: darkslategrey;
	color: white;
	text-align: center;
	vertical-align: top;
}
.left_small_column {
	width: 25%;
}
.middle_column {
	width: 75%;
}

